*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}
main{
    background-color: #ffe5b4;
    padding: 1vh 3vw;
}